/*!
 * "Azusa 3 (via. https://azusa3.sanographix.net/)" theme for Marp.
 *
 * @theme azusa3
 * @author zerosum(TAKAHASHI Osamu)
 * 
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */
@import"https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Noto+Sans+JP:400,700,800|Roboto+Mono:400,700&display=swap";

/*!
  Theme: Solarized Dark
  Author: Ethan Schoonover (modified by aramisgithub)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

code.hljs {
  padding: 3px 5px
}

.hljs {
  color: #93a1a1;
  background: #002b36
}

.hljs ::selection,
.hljs::selection {
  background-color: #586e75;
  color: #93a1a1
}

.hljs-comment {
  color: #657b83
}

.hljs-tag {
  color: #839496
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst {
  color: #93a1a1
}

.hljs-operator {
  opacity: .7
}

.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
  color: #dc322f
}

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
  color: #cb4b16
}

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
  color: #b58900
}

.hljs-strong {
  font-weight: 700;
  color: #b58900
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
  color: #859900
}

.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
  color: #2aa198
}

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
  color: #268bd2
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
  color: #6c71c4
}

.hljs-emphasis {
  color: #6c71c4;
  font-style: italic
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #d33682
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: 700
}

:root {
  background: #fcfdf2;
  color: #191a1c
}

:root blockquote {
  background-color: #eeeddc
}

:root blockquote::after,
:root blockquote::before {
  color: #393c41
}

:root code {
  background: #eeeddc;
  color: #393c41
}

:root.invert {
  background: #191a1c;
  color: #fcfdf2
}

:root.invert blockquote {
  background-color: #393c41
}

:root.invert blockquote::after,
:root.invert blockquote::before {
  color: #eeeddc
}

:root.invert code {
  background: #393c41;
  color: #eeeddc
}

svg[data-marp-fitting=svg] {
  max-height: 580px
}

strong {
  color: #5ae08e
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .1em 0 0
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: inherit
}

h1 {
  font-size: 1.8em
}

h2 {
  font-size: 1.5em
}

h3 {
  font-size: 1.3em
}

h4 {
  font-size: 1.1em
}

h5 {
  font-size: 1em
}

h6 {
  font-size: .9em
}

p,
blockquote {
  margin: 1em 0 0
}

code {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-size: .8em;
  letter-spacing: 0;
  margin: -0.1em .15em;
  padding: .1em .2em;
  vertical-align: baseline
}

pre {
  display: block;
  margin: 1em -70px 0;
  min-height: 1em;
  overflow: visible
}

pre code {
  box-sizing: border-box;
  margin: 0;
  min-width: 100%;
  padding: 1em 70px;
  font-size: .7em
}

pre code svg[data-marp-fitting=svg] {
  max-height: calc(580px - 1em)
}

blockquote {
  margin: .5em -70px;
  padding: 1em 140px;
  position: relative;
  font-style: italic
}

blockquote::after,
blockquote::before {
  content: "“";
  display: block;
  font-size: 3em;
  line-height: 1em;
  font-weight: 800;
  position: absolute
}

blockquote::before {
  top: 35px;
  left: 35px
}

blockquote::after {
  right: 35px;
  bottom: 35px;
  transform: rotate(180deg)
}

blockquote>*:first-child {
  margin-top: 0
}

mark {
  background: transparent
}

header,
footer,
section::after {
  box-sizing: border-box;
  font-size: 66%;
  height: 70px;
  line-height: 50px;
  overflow: hidden;
  padding: 10px 25px;
  position: absolute
}

header {
  left: 0;
  right: 0;
  top: 0;
  text-align: right;
  padding-right: 70px
}

footer {
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 70px
}

section {
  font-size: 35px;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  height: 720px;
  width: 1280px;
  line-height: 1.35;
  padding: 70px;
  word-wrap: break-word
}

section a,
section mark {
  color: #5ae08e
}

section.title {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center
}

section.title h1 {
  font-weight: 800;
  font-size: 2.4em
}

section.section-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center
}

section.section-header h1,
section.section-header h2,
section.section-header h3,
section.section-header h4,
section.section-header h5,
section.section-header h6 {
  text-align: center
}

section.section-header p {
  text-align: center
}
