/* @theme academic */

@import 'gaia';

:root {
    --color-background: #fff;
    --color-foreground: #971f83;
    --color-highlight: #3b68af;
}

section {
    background-image: none;
    font-family: 'Lato', sans-serif;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
}

/* https://github.com/marp-team/marpit/issues/271 */
section::after {
    font-weight: 700;
    content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}

ul ul {
    font-size: 0.9em;
}

section.lead h1 {
    color: var(--color-highlight);
    text-align: left;
}

section.lead h1 strong {
    -webkit-text-stroke: 1px var(--color-highlight);
}

section.lead h2 {
    color: var(--color-highlight);
    text-align: left;
}

section.lead h2 strong {
    -webkit-text-stroke: 1px var(--color-highlight);
}

section.lead h3 {
    color: var(--color-highlight);
    text-align: left;
}

section.lead h3 strong {
    -webkit-text-stroke: 1px var(--color-highlight);
}

section.lead h4 {
    color: var(--color-highlight);
    text-align: left;
}

section.lead h4 strong {
    -webkit-text-stroke: 1px var(--color-highlight);
}

section.lead h5 {
    color: var(--color-highlight);
    text-align: left;
}

section.lead h5 strong {
    -webkit-text-stroke: 1px var(--color-highlight);
}

section.lead p {
    text-align: right;
}

header {
    background-color: var(--color-highlight);
    color: #fff;
    font-size: 1em;
    font-weight: 700;
}

blockquote {
    max-width: 90%;
    border-top: 0.1em dashed #555;
    font-size: 60%;
    position: absolute;
    bottom: 20px;
}

blockquote::before {
    content: "";
}

blockquote::after {
    content: "";
}

img[alt~="center"] {
    display: block;
    margin: 0 auto;
}

code {
    font-family: 'Iosevka', monospace;
}
