:root {
    --primary-color: #2875d9;
}

* {
    box-sizing: border-box;
}

html,
body,
#write {
    font-family: 'Linux Libertine';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Linux Libertine';
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

html {
    font-size: 20px;
}

body,
#write {
    max-width: 914px;
    text-align: justify;
    display: block;
    margin: auto;
}

p {
    font-size: 1rem;
}

a {
    color: var(--primary-color);
}

/* Stuff */

sup.md-footnote {
    background-color: transparent;
    color: var(--primary-color);
    padding: 1px;
    margin: 0;
}

code,
.md-fences,
.sourceCode {
    background: #f2f2f2;
}

.md-fences,
pre.sourceCode {
    font-size: .7em;
    padding: .5rem;
}

.show-fences-line-number .md-fences {
    padding-left: .5rem;
}

blockquote {
    margin: 2rem .2rem;
    padding: .3rem .5rem;
    color: #6f6f6f;
    border-left: .4rem solid gray;
}

blockquote p {
    padding: .2rem 1.5rem;
}

mark {
    background: yellow;
}

figure {
    margin: .5rem auto;
    max-width: 100%;
    display: block;
    margin: auto;
}

figcaption {
    text-align: center;
    margin: .5rem auto;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}


/* ```textbox as text box instead of code */
pre .textbox {
    font-size: 12px;
    font-family: sans-serif !important;
    border: 1px solid #333;
    background: #fefefe;
    border-radius: 0;
    display: block;
}


h1 {
    counter-reset: h2;
}

h2 {
    counter-reset: h3;
}

h3 {
    counter-reset: h4;
}

h2::before {
    counter-increment: h2;
    content: counter(h2) ".";
    padding-right: 10px;
}

h3::before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3);
    padding-right: 10px;
}

h4::before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4);
    padding-right: 10px;
}
